.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.lightbox-content {
  background: #111;
  border-radius: 12px;
  display: flex;
  max-width: 900px;
  width: 90%;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
}

.lightbox-media {
  flex: 2;
  background: black;
}

.lightbox-media img,
.lightbox-media video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.lightbox-info {
  flex: 1;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.download-btn {
  margin-top: 1rem;
  background: linear-gradient(90deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 50%, rgb(112,199,116) 100%);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.download-btn:hover {
  background: #57c785;;
}

.lightbox-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.delete-btn {
  padding: 6px 12px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.delete-btn:hover {
  background-color: rgb(112,199,116)
}
